/* app css stylesheet */

.word-list {
    background-color: #4E5D6C;
}

.list-group-item {
    min-width: 200px;
    min-height: 80px;
    margin-top: 100px;
}
/* New word form */

.add-form a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.add-form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.add-form input {
    width: 100% !important;
    margin: 20px 0px 20px 0px;
}
/* Word editing */

.left-word,
.right-word {
    font-size: 18px;
}

.left-word {
    font-weight: bold;
}

.editable div {
    cursor: pointer;
    padding: 2px;
}

.editable div:hover {
    background-color: #2B3E50;
}

.editable input {
    display: none;
    
}

.editable.active div {
    display: none;
}

.editable.active input {
    display: inline-block;
    color: #EBEBEB;
    border: none;
    background-color: #2B3E50;
}