/* app css stylesheet */

.editable span {
    cursor: pointer;
}
.editable input {
    display: none;
    
}
.editable.active span {
    display: none;
}
.editable.active input {
    display: inline-block;
    width: inherit;
    position: relative;
}


.word-list {
    background-color: #4E5D6C;
}


.list-group-item {
    min-width: 200px;
    min-height: 80px;
    margin-top: 15px;
}

.left-word, .right-word {
    font-size: 18px;
}

.left-word {
    font-weight: bold;
}

 .add-form a {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.add-form {
    margin-top: 15px;
    margin-bottom: 15px;
}


.add-form input {
    width: 100% !important;
    margin: 20px 0px 20px 0px;
}
