<!DOCTYPE html>
<html lang="en" ng-app='dictApp'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Translate service</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
</head>

<body>
    <div class="container">
        <div class="row jumbotron text-center">
            <h1>Translation service</h1>
        </div>
        <div class="row" ng-controller="LanguageCtrl">
            <ul class="nav nav-tabs nav-justified">
                <li ng-repeat="language in languages">
                    <a href="#{{ language.name }}" data-toggle="tab" ng-click="getWords(language.name)">{{ language.name | capitalize}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" ng-repeat="language in languages" id="{{ language.name }}">
                    <form class="form-inline add-form">
                        <input class="form-control" type="text" placeholder="Add new word" ng-model="newWord.key">
                        <input class="form-control" type="text" placeholder="and its translation" ng-model="newWord.value">
                        <button class="btn btn-default btn-xs add" ng-click="addWord(language)">Add</button>
                    </form>
                    <ul class="list-group text-center word-list">
                        <li class="list-group-item col-sm-4" ng-repeat="(key, value) in language.words">
                            <editable class="left-word" value="key"></editable> :
                            <editable class="right-word" value="value"></editable>
                            <div class="clearfix" ng-if="$index%3==2"></div>
                            <div ng-repeat-end=""></div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>